
.landing{
    background: url("../image/doctorimg.webp") #381172 80% 70% no-repeat!important;
}

.landing.segment{
    min-height: 450px;
    padding: 0em 0em;
    
}
.text-block {
    position: absolute;
    /* font-size:x-large ; */
    top: 190px;
    left: 210px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block.b {
    font-weight: bold;
}